body {
	margin: 0;
	padding: 0;
	font-family: "Liberation Mono", monospace;
	font-size: 14px;
	background-color: white;
	color: black;
}

main {
	width: calc(100vw - 4ch);
	margin: 0 auto;
}

span {
	display: block;
	margin: 0;
	padding: 0;
	white-space: pre-wrap;
}

label {
	display: inline;
	vertical-align: top;
}

/* styles for login prompt */

input {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 1em;
	width: calc(100% - 20ch);
	border: none;
	font-family: inherit;
}

input:focus {
	outline: none;
}

/* styles for chat */

div#chat {
	display: none;
}

div#chat div {
	display: block;
	height: calc(100vh - 5em);
	overflow: scroll;
}

div#chat form textarea {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 1em;
	resize: none;
	height: 4em;
	width: calc(100% - 20ch);
	vertical-align: top;
	border: none;
	font-family: inherit;
}

div#chat form textarea:focus {
	outline: none;
}
